/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-1437 {
      padding: var(--sectionPadding);
    }
  
    #meet-team-1437 .cs-container {
      width: 100%;
      /* changes to 1280px at large desktop */
      max-width: 56.5rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
    }
  
    #meet-team-1437 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
    }
  
    #meet-team-1437 .cs-button {
      font-size: 1rem;
      font-weight: 700;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 8vw, 3.5rem);
      text-decoration: none;
      /* prevents button text from wrapping across lines */
      white-space: nowrap;
      margin: auto;
      padding: 0 2.5rem;
      color: var(--headerColor);
      background-color: var(--primary);
      display: inline-block;
      position: relative;
      z-index: 1;
    }
  
    #meet-team-1437 .cs-button:hover:before {
      width: 100%;
    }
  
    #meet-team-1437 .cs-button:before {
      /* hover box */
      content: "";
      width: 0%;
      height: 100%;
      background: #000;
      opacity: 1;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
    }
  
    #meet-team-1437 .cs-card-group {
      width: 100%;
      /* changes at tablet */
      max-width: 25.8125rem;
      margin: 0;
      padding: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 1.8vw, 1.25rem);
      position: relative;
    }
  
    #meet-team-1437 .cs-item {
      list-style: none;
      width: 100%;
      border: 1px solid #e8e8e8;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      grid-column: span 12;
      position: relative;
      /* clips picture tag from overflowing */
      overflow: hidden;
    }
  
    #meet-team-1437 .cs-picture {
      width: 100%;
      min-height: 18.75rem;
      display: block;
      position: relative;
      z-index: 1;
      /* removed at tablet */
      aspect-ratio: 1.17142857;
    }
  
    #meet-team-1437 .cs-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
      object-position: top;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: transform 0.7s;
    }
  
    #meet-team-1437 .cs-info {
      text-align: center;
      width: 100%;
      /* prevents padding from affecting the height and width */
      box-sizing: border-box;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      z-index: 10;
    }
  
    #meet-team-1437 .cs-name {
      font-size: 1.25rem;
      font-weight: 700;
      line-height: 1.2em;
      text-align: inherit;
      margin: 0 0 0.25rem 0;
      color: var(--bodyTextColor);
      display: block;
      transition: color 0.3s;
    }
  
    #meet-team-1437 .cs-job {
      font-size: 1rem;
      line-height: 1.5em;
      text-align: inherit;
      margin: 0 0 1rem 0;
      color: var(--bodyTextColor);
      display: block;
    }
  
    #meet-team-1437 .cs-social-group {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 0.5rem;
    }
  
    #meet-team-1437 .cs-link {
      width: 2rem;
      height: 2rem;
      background-color: #e8e8e8;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.3s;
    }
  
    #meet-team-1437 .cs-link:hover {
      background-color: var(--primary);
    }
  
    #meet-team-1437 .cs-link:hover .cs-icon {
      filter: grayscale(100%) brightness(1000%);
    }
  
    #meet-team-1437 .cs-icon {
      width: 0.75rem;
      height: auto;
      filter: grayscale(100%);
      transition: filter 0.3s;
    }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    #meet-team-1437 .cs-card-group {
      max-width: 100%;
      align-items: stretch;
    }
  
    #meet-team-1437 .cs-item {
      max-width: 100%;
      grid-column: span 4;
      transition: box-shadow 0.3s;
    }
  
    #meet-team-1437 .cs-item:hover {
      box-shadow: 0px 4px 120px 0px rgba(0, 0, 0, 0.12);
    }
  
    #meet-team-1437 .cs-item:hover .cs-name {
      color: var(--primary);
    }
  
    #meet-team-1437 .cs-picture {
      height: 100%;
      /* 280px - 350px, resets at desktop */
      min-height: clamp(17.5rem, 33vw, 21.875rem);
      overflow: hidden;
      aspect-ratio: initial;
    }
  
    #meet-team-1437 .cs-picture img {
      transition: transform 0.6s, opacity 0.3s;
    }
  }
  
  /* Large Desktop - 1300px */
  @media only screen and (min-width: 81.25rem) {
    #meet-team-1437 .cs-container {
      max-width: 80rem;
    }
  
    #meet-team-1437 .cs-picture {
      /* 245px - 338px */
      height: clamp(15.3125rem, 27vw, 21.125rem);
      min-height: 15.3125rem;
    }
  }

/*-- -------------------------- -->
<--- About Comapny Side By Side -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {


    #RPsbs-company-history {
      padding: 0 1em;
      position: relative;
      z-index: 1;
      background-color: #fff8f8;
      padding-top: 100px;
    }
  
    #RPsbs-company-history .cs-container {
      width: 100%;
      /* changes to 1280px on tablet */
      max-width: 34.375rem;
      padding: var(--sectionPadding);
      padding-left: 0;
      padding-right: 0;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 108px */
      gap: clamp(3rem, 8vw, 6.75rem);
      position: relative;
    }
  
    #RPsbs-company-history .cs-content {
      text-align: left;
      width: 100%;
      max-width: 27.125rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
    #RPsbs-company-history .cs-title {
      display: flex;
      align-items: center;
      position: relative;
      color: var(--primary);
      padding-left: 20px;
      /* Space on the right for the lines */
      margin-bottom: 5%;
    }
  
    #RPsbs-company-history .cs-title::before {
      content: '';
      position: absolute;
      background: var(--primary);
      /* Line color */
      width: 2px;
      /* Width of the vertical line */
      height: 100%;
      left: 0;
      /* Adjust this to move the line closer or further from the text */
    }
  
    #RPsbs-company-history .cs-title h1 {
      margin: 0;
    }
  
    #RPsbs-company-history .cs-title-text {
      margin-left: 20px;
      /* Space between the title and the text */
      display: flex;
      flex-direction: column;
    }
  
    #RPsbs-company-history .cs-title-text p {
      margin: 0;
      font-size: 0.4em;
      /* Adjust text size as needed */
      line-height: 1.2;
      color: var(--bodyTextColor)
    }
  
    #RPsbs-company-history .cs-text-wrapper {
      display: flex;
      align-items: flex-start;
      /* Align items to the top */
      margin-bottom: 1rem;
      /* Space between this block and the next content */
      width: 100%;
      /* Ensure the wrapper takes the full width */
    }
  
  
    #RPsbs-company-history .cs-text-content {
      margin-left: 0;
      /* Ensure there's space for the icon */
      display: flex;
      flex-direction: column;
      /* Stack topper and text vertically */
      align-items: flex-start;
      /* Align topper and text to the left */
    }
  
    #RPsbs-company-history .cs-topper {
      opacity: 0.8;
      border-bottom: 2px solid var(--primary);
      /* Adjust the width, style, and color as needed */
    }
  
    #RPsbs-company-history .cs-text {
      margin-top: 0.5rem;
      /* Space between topper and text */
      opacity: 0.8;
    }
  
    #RPsbs-company-history .cs-text:last-of-type {
      margin-bottom: 2rem;
    }
  
    #RPsbs-company-history .cs-picture {
      width: 100%;
      max-width: 27.125rem;
      margin: 0;
      border: 1px solid #f1f1f4;
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 1;
      /* prevents border from adding to height and width */
      box-sizing: border-box;
    }
  
  
    #RPsbs-company-history .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  
    #RPsbs-company-history .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
    }
  
    #RPsbs-company-history .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #000;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
    }
  
    #RPsbsr-248 .cs-button-solid:hover:before {
      width: 100%;
    }
  }
  
  /* Tablet - 768px */
  @media only screen and (min-width: 48rem) {
    
    #Rpsbs-company-history
    {
        padding-top: 200px;
    }
  
    #RPsbs-company-history .cs-container {
      max-width: 80rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  
  
    #RPsbs-company-history .cs-lines {
      height: 100%;
      width: 35%;
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  
  
  
    #RPsbs-company-history .cs-picture {
      /* 344px - 434px */
      width: clamp(21.5rem, 37.5vw, 27.125rem);
      flex: none;
    }
  
  
    #RPsbs-company-history .cs-content {
      max-width: 33.875rem;
      margin: 0;
      width: 45%;
    }
  }
  